* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #000;
    --text-color: #fff;
    --logo-color: red;
    --bg-content: #151515;
    --navbar-nav: 80px;
    --button-color: #f77e0b;
}

/* Navbar and Sidebar */

.navbar {
    width: 100%;
    height: var(--navbar-nav);
    background-color: var(--main-color);
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 80px;
    height: 100%;
    color: var(--text-color);
    font-family: 'Sen', sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    text-transform: uppercase;
    font-size: 30px;
    color: var(--logo-color);
    text-shadow: 1px 1px 1px #fff;
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    font-weight: 300;
}

.menu-list-item {
    padding: 0 14px;
    margin-right: 30px;
}

.menu-list-item.active {
    font-weight: 700;
}

.menu-list-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search {
    flex: 1;
    display: flex;

}

.search-box {
    height: 30px;
    width: auto;
    padding: 8px;
    font-size: 14px;
    outline: none;
}

.search-icon {
    height: 30px;
    width: 30px;
    font-size: 14px;
}

.profile-contatainer {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-text-container {
    margin: 0 16px;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-self: space-around;
    position: relative;
}

.toggle-circle {
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4ss ease all;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle-icon {
    color: goldenrod;
    margin: 0 1px;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: var(--navbar-nav);
}

.left-menu-icon {
    color: var(--text-color);
    font-size: 22px;
    margin-bottom: 40px;
    cursor: pointer;
}

.left-menu-icon:hover {
    opacity: 0.8;
}

/* Content */

.container {
    background-color: var(--bg-content);
    min-height: calc(100vh - var(--navbar-nav));
    color: var(--text-color);
}

.container-content {
    margin-left: 50px;
}

.featured-content {
    height: 80vh;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515), url('../img/f-2.jpg') no-repeat; */
    background-size: cover;
    padding: 40px;
}

.featured-title {
    width: 300px;
    box-shadow: border 1px 1px rgba(0, 0, 0, 0), #fff;
}

.featured-desc {
    width: 500px;
    color: var(--text-color);
    margin: 30px 0;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    line-height: 20px;
}

.featured-button {
    background-color: var(--button-color);
    color: var(--text-color);
    text-transform: uppercase;
    outline: none;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
}

.featured-button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 0 15px 5px;
}

/* Movie List */

.movie-list-container {
    padding: 20px;
}

.movie-list-title {
    padding-bottom: 10px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 400px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.movie-list-item {
    margin-right: 60px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    /* transition: linear 0.4s; */
    /* margin: 0 30px; */
    cursor: pointer;
    opacity: 0.5;
    box-shadow: rgba(200, 200, 200, 0.5) 0px 7px 29px 0px;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    transition: all 0.5s ease-in-out;
    width: 230px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

/* Cần tối ưu content giảm với size img */
.movie-list-item-title {
    background-color: #333;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.movie-list-item-desc {
    background-color: #333;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    /* text-align: justify; */
    top: 25%;
    left: 10%;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.movie-list-item-button {
    padding: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 80px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.movie-list-item .movie-list-item-button:hover {
    transition: 0.5s;
    opacity: 0.8;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 0 15px 5px;
}

.arrow-right {
    font-size: 120px;
    position: absolute;
    top: 140px;
    right: 0;
    color: lightgrey;
    opacity: 0.5;
    cursor: pointer;
}

/* Footer */
/*  */
#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: var(--main-color);
}

#footer .list-socials {
    font-size: 25px;
}

#footer .list-socials a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 6px;

}

#footer .copy-right a:hover,
#footer .list-socials a:hover {
    opacity: 0.7;
}

#footer .copy-right {
    margin-top: 15px;
    color: var(--text-color);
}

#footer .copy-right a {
    color: var(--text-color);
}

/* Change state light */

.container.active {
    background-color: var(--text-color);
}

.movie-list-title.active {
    color: var(--main-color);
}

.navbar-container.active {
    background-color: var(--text-color);
    color: var(--main-color);
}

.sidebar.active {
    background-color: var(--text-color);
}

.left-menu-icon.active {
    color: var(--main-color);
}

#footer.active {
    padding: 64px 16px;
    text-align: center;
    background-color: var(--text-color);
}

#footer .list-socials.active a {
    color: var(--main-color);

}

#footer .copy-right.active {
    margin-top: 15px;
    color: var(--main-color);
}

.toggle.active {
    background-color: var(--main-color);
}

.toggle-circle.active {
    background-color: var(--text-color);
    transform: translateX(-18px);
}

/* Responsive */

@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }

}

@media (max-width: 46.1875em) {

    .sidebar {
        display: none !important;
    }

    .logo {
        font-size: 22px;
    }

    .search {
        display: none !important;
    }

    .navbar-container {
        padding: 0 10px;
    }

    .container-content {
        margin-left: 0;
    }

    .featured-content {

        padding: 40px 20px;
    }

    .featured-desc {
        width: 100%;
        text-align: justify;
    }

    .movie-list {
        height: 280px;
    }

    .movie-list-item-img {
        width: 160px;
        height: 230px;
    }

    .movie-list-item-title,
    .movie-list-item-desc {
        display: none;
    }

    .movie-list-item-button {
        padding: 10px;
        background-color: var(--button-color);
        color: var(--text-color);
        border-radius: 20px;
        font-size: 18px;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 46px;
        opacity: 0;
        transition: 0.5s all ease-in-out;
    }

    .movie-list-container {
        padding: 10px
    }

    .arrow-right {
        font-size: 100px;
        position: absolute;
        top: 75px;
        right: 0;
        color: lightgrey;
        opacity: 0.4;
        cursor: pointer;
    }
}